#log {
    display: none;
}

#log.expanded {
    display: block;
    height: 250px;
}

.chip {
    display: inline-block;
    padding: 0.25rem 0.5rem;
    border-radius: 9999px;
    font-size: 0.875rem;
}

.chip-running {
    background-color: #38a169;
    color: white;
}

.chip-stopped {
    background-color: #e53e3e;
    color: white;
}

.chip-passive {
    background-color: #d69e2e;
    color: white;
}

.chip-interactive {
    background-color: #3182ce;
    color: white;
}
