body {
    background-color: black;
    overflow: hidden;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ghost {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: aqua;
    background-image: url('https://cdn4.iconfinder.com/data/icons/halloween-collection-vol-2-colored/100/___3-1024.png');
    background-size: cover;
    transition: transform 1s;
}
