body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    background-color: black;
}

#ribbonsCanvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

  /* Some basic styles */
  * { margin: 0; padding: 0; }
  #canvas {
      display: block;
      /* Fill canvas with black by default */
      background: #000;
  }